@{
    Layout = null;
}
@model IEnumerable<Vimento.Model.Company>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf8_danish_ci">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Dashboard</title>

        <!-- Custom fonts for this template-->
        <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">
        <link href="~/Content/css/indexstyle.css" rel="stylesheet">

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
              integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
              crossorigin="" />
        <!--Leaflets API-->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
                integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
                crossorigin=""></script>

        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
        <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
        <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js" 
                integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ==" 
                crossorigin="anonymous"></script>
    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">
            
            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">

                    <div class="sidebar-brand-text mx-3">
                        <img class="mt-3" style="width: 100%;" src="~/Content/icons/vimento2.png" alt="">
                        <sup>2.0</sup>
                    </div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Interface
                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Filtre</span>
                    </a>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Custom Components:</h6>
                            <a class="collapse-item" href="buttons.html">Buttons</a>
                            <a class="collapse-item" href="cards.html">Cards</a>
                        </div>
                    </div>
                </li>

                <!-- Nav Item - Utilities Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                        <i class="fas fa-fw fa-wrench"></i>
                        <span>Adv. Filtre</span>
                    </a>
                    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Custom Utilities:</h6>
                            <a class="collapse-item" href="utilities-color.html">Colors</a>
                            <a class="collapse-item" href="utilities-border.html">Borders</a>
                            <a class="collapse-item" href="utilities-animation.html">Animations</a>
                            <a class="collapse-item" href="utilities-other.html">Other</a>
                        </div>
                    </div>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Brugerroller
                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                @*<li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>Pages</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Login Screens:</h6>
                    <a class="collapse-item" href="login.html">Login</a>
                    <a class="collapse-item" href="register.html">Register</a>
                    <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Other Pages:</h6>
                    <a class="collapse-item" href="404.html">404 Page</a>
                    <a class="collapse-item" href="blank.html">Blank Page</a>
                </div>
            </div>
        </li>*@

                <!-- Nav Item - Charts -->
                @*<li class="nav-item">
                    <a class="nav-link" href="charts.html">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>Charts</span>
                    </a>
                </li>*@

                <li class="nav-item">
                    <a class="nav-link" href="charts.html">
                        <i class="fas fa-fw fa-user-tie"></i>
                        <span>Sælger</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="charts.html">
                        <i class="fas fa-fw fa-user-cog"></i>
                        <span>Netværksingeniør</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="charts.html">
                        <i class="fas fa-fw fa-user-astronaut"></i>
                        <span>Marketingsansvarlig</span>
                    </a>
                </li>

                <!-- Nav Item - Tables -->
                @*<li class="nav-item">
                    <a class="nav-link" href="tables.html">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Tables</span>
                    </a>
                </li>*@

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

            </ul>
            <!-- End of Sidebar -->
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column" style="margin-top: 20px">

                <!-- Main Content -->
                <div id="content">


                    <!-- End of Topbar -->
                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

                        </div>

                        <!-- Content Row -->
                        <div class="row">

                            <!-- Unikker CVR Card Example -->
                            <div class="col-xl-3 col-md-6 mb-4" style=" margin: auto ">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Unikke CVR</div>
                                                <div id="unikCVR" class="h5 mb-0 font-weight-bold text-gray-800">28916</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-suitcase fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Adgansadresser Card Example -->
                            <div class="col-xl-3 col-md-6 mb-4" style=" margin: auto ">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Unikke adgansadresser</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">6838</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-home fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Fiber (procent) Card Example -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-info shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Adresser med adgang til fiber</div>
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">86%</div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="progress progress-sm mr-2">
                                                            <div class="progress-bar bg-info" role="progressbar" style="width: 86%" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fas fa-fighter-jet fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Data Card Example -->
                            <div class="col-xl-3 col-md-6 mb-4" style=" margin: auto ">
                                <div class="card border-left-warning shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Data senest opdateret</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">30 - Marts - 2020</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-database fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Content Row -->

                        <div class="row">

                            <!-- Area Chart -->
                            <div class="col-lg-9" style=" height: 600px; margin-bottom: 1.5rem!important;">
                                <div class="card shadow mb-4" style="height: 100%">
                                    <!-- Card Header - Dropdown -->
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Map overview</h6>
                                        @*<div class="dropdown no-arrow">
                                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                                    <div class="dropdown-header">Dropdown Header:</div>
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>*@
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body" style="height: 100%; padding: 0">
                                        <div class="chart-area" style="height: 100%">
                                            <div id="mapid" class="chart-area" style="height: 100%">
                                                <div class="leaflet-bottom leaflet-left">
                                                    <div id="marker-legend">
                                                        <script>
                                                            function s2ab(s) {

                                                                var buf = new ArrayBuffer(s.length);
                                                                var view = new Uint8Array(buf);
                                                                for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
                                                                return buf;

                                                            }
                                                            function generateLeadList() {
                                                                var wb = XLSX.utils.book_new();
                                                                wb.Props = {
                                                                    Title: "Lead Liste",
                                                                    Subject: "Liste over brancher med ønskede specifikationer",
                                                                    Author: "Vimento"
                                                                };

                                                                wb.SheetNames.push("Leads");
                                                                var ws_data = [['Navn','Branche', 'Adresse', 'Ansatte','Fiber ned','Fiber op', 'Kabel ned','Kabel op','Dsl ned', 'Dsl op', 'Mobil', 'Tlf. nr.', 'E-mail']];
                                                                for (var i = 0; i < filterArray.length; i++) {
                                                                    ws_data.push([
                                                                        filterArray[i].name,
                                                                        filterArray[i].business,
                                                                        filterArray[i].address,
                                                                        filterArray[i].employees,
                                                                        filterArray[i].downFiber,
                                                                        filterArray[i].upFiber,
                                                                        filterArray[i].downKabel,
                                                                        filterArray[i].upKabel,
                                                                        filterArray[i].downDsl,
                                                                        filterArray[i].upDsl,
                                                                        filterArray[i].mobil
                                                                    ]);
                                                                }
                                                                var ws = XLSX.utils.aoa_to_sheet(ws_data);
                                                                wb.Sheets["Leads"] = ws;
                                                                var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });
                                                                
                                                                saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), 'Lead_list.xlsx');
                                                            }
                                                        </script>
                                                        <button id="button-a" style="pointer-events: auto" onclick="generateLeadList();">Opret lead-liste</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <script>
                                                var mymap = L.map('mapid').setView([57.047218, 9.920100], 8);
                                                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                                                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                                                    maxZoom: 18,
                                                    id: 'mapbox/streets-v11',
                                                    tileSize: 512,
                                                    zoomOffset: -1,
                                                    accessToken: 'pk.eyJ1IjoibXJzYWdneSIsImEiOiJja2ZiamQ4ajYwcXh3MnhvODU4NjZrZ29xIn0.JXSCWFKMGdFElSPErRk-Zg'
                                                }).addTo(mymap);

                                                const allMarkersArray = new Array();
                                                var filterArray = new Array();
                                                //var filterString = "downFiber";
                                                var speedSwitchValue;
                                                var searchArray = new Array();
                                                



                                                var markers = L.markerClusterGroup({
                                                    spiderfyOnMaxZoom: false,
                                                    showCoverageOnHover: true,
                                                    zoomToBoundsOnClick: true,
                                                    disableClusteringAtZoom: 18,
                                                    emp: 5,
                                                    name: 'placeholder name'
                                                });

                                                function onClick(e) {

                                                    cordCheck(this.getLatLng().lat, this.getLatLng().lng);
                                                    displayInfo(this)  //kalder function for fremvisning af data i informations panel
                                                    myChart.update()  //updatere charts

                                                }

                                                var index = 0;
                                                function nextInfo(sum) {

                                                    index = (index + sum);

                                                    if (index <= 0) {

                                                        index = 0;

                                                    }
                                                    else if (index > (filterArray.length) - 1) {
                                                        index = ((filterArray.length - 1));

                                                    }
                                                    displayInfo(filterArray[index]);
                                                    document.getElementById('side').innerHTML
                                                        = ((index + 1) + " / " + filterArray.length);
                                                }

                                                function cordCheck(clickLat, clicklng) {
                                                    filterArray = [];
                                                    index = 0;
                                                    for (var i = 0; i < (allMarkersArray.length); i++) {
                                                        var marker = allMarkersArray[i];

                                                        if (marker.getLatLng().lng == clicklng && marker.getLatLng().lat == clickLat) {
                                                            filterArray.push(marker);
                                                        }
                                                    }
                                                    document.getElementById('side').innerHTML
                                                        = ((index + 1) + " / " + filterArray.length);

                                                }

                                                //Filtrer searchArray ud fra input i søgefeltet og tilføjer dem på kortet
                                                function searchFilter(search) {
                                                    searchArray = [];
                                                    markers.clearLayers();

                                                    for (var i = 0; i < (allMarkersArray.length); i++) {
                                                        var marker = allMarkersArray[i];

                                                        if (marker.business == search) {
                                                            searchArray.push(marker);
                                                            filterArray.push(marker);
                                                         }
                                                    }
                                                    searchArray.forEach(m => markers.addLayer(m));
                                                    mymap.addLayer(markers);
                                                    document.getElementById('unikCVR').innerHTML
                                                        = (searchArray.length);
                                                }

                                                function clearFilters() {
                                                    document.getElementById("formControlRange").disabled = true;
                                                    document.getElementById("formControlRange").value = "0";
                                                    document.getElementById('myInput').value = '';
                                                    addAllMarkers();
                                                    document.getElementById('unikCVR').innerHTML
                                                        = (allMarkersArray.length);
                                                }

                                                function addAllMarkers() {
                                                    markers.clearLayers();
                                                    for (let i = 0; i < allMarkersArray.length; i++) {
                                                        markers.addLayer(allMarkersArray[i]);
                                                    }
                                                    mymap.addLayer(markers);
                                                }

                                                function tekFilter(selectSwitch) {
                                                    //filterArray = [];
                                                    markers.clearLayers();
                                                    

                                                    switch (selectSwitch) {
                                                        case 0:
                                                            //var result = allMarkersArray.filter(checkFiber);
                                                            //speedSwitchValue = 0;
                                                            //document.getElementById("formControlRange").value = "0";
                                                            //break;
                                                            document.getElementById("formControlRange").disabled = false;
                                                            if (document.getElementById('myInput').value != '') {
                                                                var result = searchArray.filter(checkFiber);
                                                                speedSwitchValue = 0;
                                                                document.getElementById("formControlRange").value = "0";
                                                                break;
                                                            } else {
                                                                var result = allMarkersArray.filter(checkFiber);
                                                                speedSwitchValue = 0;
                                                                document.getElementById("formControlRange").value = "0";
                                                                break;
                                                            }
                                                        case 1:
                                                            //var result = searchArray.filter(checkKabel);
                                                            //speedSwitchValue = 1;
                                                            //document.getElementById("formControlRange").value = "0";
                                                            //break;
                                                            document.getElementById("formControlRange").disabled = false;
                                                            if (document.getElementById('myInput').value != '') {
                                                                var result = searchArray.filter(checkKabel);
                                                                speedSwitchValue = 1;
                                                                document.getElementById("formControlRange").value = "0";
                                                                break;
                                                            } else {
                                                                var result = allMarkersArray.filter(checkKabel);
                                                                speedSwitchValue = 1;
                                                                document.getElementById("formControlRange").value = "0";
                                                                break;
                                                            }
                                                        case 2:
                                                            //var result = searchArray.filter(checkDsl);
                                                            //speedSwitchValue = 2;
                                                            //document.getElementById("formControlRange").value = "0";
                                                            //break;
                                                            document.getElementById("formControlRange").disabled = false;
                                                            if (document.getElementById('myInput').value != '') {
                                                                var result = searchArray.filter(checkDsl);
                                                                speedSwitchValue = 2;
                                                                document.getElementById("formControlRange").value = "0";
                                                                break;
                                                            } else {
                                                                var result = allMarkersArray.filter(checkDsl);
                                                                speedSwitchValue = 2;
                                                                document.getElementById("formControlRange").value = "0";
                                                                break;
                                                            }
                                                        case 3:
                                                            //var result = searchArray.filter(checkMobil);
                                                            //speedSwitchValue = 3;
                                                            //document.getElementById("formControlRange").value = "0";
                                                            //break;
                                                            document.getElementById("formControlRange").disabled = false;
                                                            if (document.getElementById('myInput').value != '') {
                                                                var result = searchArray.filter(checkMobil);
                                                                speedSwitchValue = 3;
                                                                document.getElementById("formControlRange").value = "0";
                                                                break;
                                                            } else {
                                                                var result = allMarkersArray.filter(checkMobil);
                                                                speedSwitchValue = 3;
                                                                document.getElementById("formControlRange").value = "0";
                                                                break;
                                                            }
                                                        case 4:
                                                            //var result = searchArray;
                                                            //speedSwitchValue = 4;
                                                            //document.getElementById("formControlRange").value = "0";
                                                            //break;
                                                            document.getElementById("formControlRange").disabled = false;
                                                            if (document.getElementById('myInput').value != '') {
                                                                var result = searchArray;
                                                                speedSwitchValue = 4;
                                                                document.getElementById("formControlRange").value = "0";
                                                                break;
                                                            } else {
                                                                var result = allMarkersArray;
                                                                speedSwitchValue = 4;
                                                                document.getElementById("formControlRange").value = "0";
                                                                break;
                                                            }
                                                    }


                                                    result.forEach(m => markers.addLayer(m));
                                                    //if (document.getElementById('myInput').value != '') {
                                                    //    filterArray = tempSearch;
                                                    //}
                                                    //else {
                                                    //    filterArray = result;
                                                    //}
                                                    filterArray = result;
                                                    mymap.addLayer(markers);
                                                    updateTextInput(0);
                                                    document.getElementById('unikCVR').innerHTML
                                                        = (result.length);
                                                }

                                                function checkFiber(speed) {
                                                    return speed.downFiber > 0;
                                                }
                                                function checkKabel(speed) {
                                                    return speed.downKabel > 0;
                                                }
                                                function checkDsl(speed) {
                                                    return speed.downDsl > 0;
                                                }
                                                function checkMobil(speed) {
                                                    return speed.mobil > 0;
                                                }





                                                function displayInfo(marker) {
                                                    document.getElementById('firmanavn').innerHTML
                                                        = marker.name;
                                                    document.getElementById('branchenavn').innerHTML
                                                        = marker.business;
                                                    document.getElementById('antalansatte').innerHTML
                                                        = marker.employees;
                                                    document.getElementById('vejnavn').innerHTML
                                                        = marker.address;
                                                    // onclick function til at vise given data fra et firma

                                                    //Tilføjer data til chart.
                                                    addDataDownFiber(parseInt(marker.downFiber))
                                                    addDataUpFiber(parseInt(marker.upFiber))
                                                    addDataDownKabel(parseInt(marker.downKabel))
                                                    addDataUpKabel(parseInt(marker.upKabel))
                                                    addDataDownDsl(parseInt(marker.downDsl))
                                                    addDataUpDsl(parseInt(marker.upDsl))
                                                    addDataMobil(parseInt(marker.mobil))



                                                    //addDataAll(parseInt(downFiber, this.UpFiber, this.DownKabel, this.upKabel, this,downDsl, this.upDsl, this.mobil))

                                                    //Opdaterer chart'en efter der er indsat data.
                                                }

                                                function addClusters(localarray, lat, long, name, business, employees, address, downFiber, upFiber, downKabel, upKabel, downDsl, upDsl, mobil) {
                                                    var companyMarker = new L.circleMarker([lat, long]).on('click', onClick);
                                                    companyMarker.name = name, companyMarker.business = business,
                                                        companyMarker.employees = employees, companyMarker.address = address,
                                                        companyMarker.downFiber = downFiber, companyMarker.upFiber = upFiber,
                                                        companyMarker.downKabel = downKabel, companyMarker.upKabel = upKabel,
                                                        companyMarker.downDsl = downDsl, companyMarker.upDsl = upDsl,
                                                        companyMarker.mobil = mobil;

                                                    markers.addLayer(companyMarker);

                                                    //Laver et array med Branche navne til vores tekst søgning.
                                                    searchArray.push(companyMarker.business);

                                                    //companyMarker.addTo(markers);

                                                    localarray.push(companyMarker);


                                                    var i = (localarray.length - 1);
                                                    console.log(i);




                                                    //laver markes med given data
                                                }

                                                
                                            </script>



                                            @foreach (var company in Model)
                                            {
                                                //køre igennem alle firmaer i databasen og tilføjer dem som marker
                                        <script>
                                            addClusters(allMarkersArray, @company.Address.Long, @company.Address.Lat, "@company.Name", "@company.Business", "@company.AmountOfEmployees", "@company.Address.StreetName" +
                                                " @company.Address.HouseNr", + " @company.Address.Technology.DownFiber", + "@company.Address.Technology.UpFiber", + "@company.Address.Technology.DownCable", +
                                            "@company.Address.Technology.UpCable", + "@company.Address.Technology.DownDSL", + "@company.Address.Technology.UpDSL", + "@company.Address.Technology.MobileDownRange");
                                            
                                            
                                        </script>
                                            }
                                            <script>

                                                mymap.addLayer(markers);          
                                                //tilføjer alle lavede markers til map
                                            </script>

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xl-3 col-lg-2 m-auto">
                                <div class="card shadow mb-4">
                                    @*Card Header - Dropdown*@
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

                                        <h6 class="m-0 font-weight-bold text-primary">Adresse info</h6>
                                        @*<INPUT TYPE="NUMBER" MIN="1" MAX="10" STEP="1" VALUE="1" SIZE="6">*@
                                        <a onclick="nextInfo(-1)" href="#"> <i class="fas fa-arrow-alt-circle-left fa-2x text-primary"></i></a>
                                        <h6 id="side" class="m-0  ">1 / 9</h6>
                                        <a onclick="nextInfo(1)" href="#"> <i class="fas fa-arrow-alt-circle-right fa-2x text-primary"></i></a>
                                        <div class="col-auto">
                                            <i class="fas fa-map-marker-alt fa-2x text-danger"></i>
                                        </div>

                                    </div>

                                    @*Card Body*@
                                    <div class="card-body">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase">Virksomhed</div>
                                        <h6 id="firmanavn"> ... </h6>
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mt-1">Branche</div>
                                        <h6 id="branchenavn"> ... </h6>
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mt-1">Antal ansatte</div>
                                        <h6 id="antalansatte"> ... </h6>
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mt-1">Adresse</div>
                                        <h6 id="vejnavn"> ... </h6>



                                    </div>
                                </div>


                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Hastighed fordelt på teknologi.</h6>

                                    </div>

                                    <!-- Card Body -->
                                    <div class="card-body">

                                        <div class="mt-4 text-center small">
                                            <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js'></script>
                                            <canvas id="bar" height: 100%></canvas>
                                            <script>




                                                var ctx = document.getElementById('bar');
                                                var myChart = new Chart(ctx, {
                                                    type: 'bar',
                                                    data: {
                                                        labels: ['Fiber', 'Kabel', 'Dsl', 'Mobil'],
                                                        datasets: [{
                                                            label: 'Max Download Hastighed (Mbit)',
                                                            data: [],
                                                            backgroundColor: [
                                                                'rgba(78, 115, 223, 1)',
                                                                'rgba(78, 115, 223, 1)',
                                                                'rgba(78, 115, 223, 1)',
                                                                'rgba(78, 115, 223, 1)'

                                                            ],
                                                            borderColor: [
                                                                'rgba(189, 180, 180, 0.8)',
                                                                'rgba(189, 180, 180, 0.8)',
                                                                'rgba(189, 180, 180, 0.8)',
                                                                'rgba(189, 180, 180, 0.8)'

                                                            ],
                                                            borderWidth: 1
                                                        }, {

                                                            label: 'Max Upload Hastighed (Mbit)',
                                                            data: [],
                                                            backgroundColor: [
                                                                'rgba(28, 200, 138, 1)',
                                                                'rgba(28, 200, 138, 1)',
                                                                'rgba(28, 200, 138, 1)',
                                                                'rgba(28, 200, 138, 1)'
                                                            ],
                                                            borderColor: [
                                                                'rgba(189, 180, 180, 0.8)',
                                                                'rgba(189, 180, 180, 0.8)',
                                                                'rgba(189, 180, 180, 0.8)',
                                                                'rgba(189, 180, 180, 0.8)'
                                                            ],
                                                            borderWidth: 1
                                                        }]
                                                    },
                                                    options: {
                                                        scales: {
                                                            yAxes: [{
                                                                ticks: {
                                                                    beginAtZero: true
                                                                }
                                                            }]
                                                        }
                                                    }
                                                });

                                                //function addDataAll(downFiber, upFiber, downKabel, upKabel, downDsl, upDsl, mobil) {
                                                //    myChart.data.datasets[0].data[0] = downFiber,
                                                //    myChart.data.datasets[1].data[0] = upFiber;
                                                //    myChart.data.datasets[0].data[1] = downKabel;
                                                //    myChart.data.datasets[1].data[1] = upKabel;
                                                //    myChart.data.datasets[0].data[2] = downDsl;
                                                //    myChart.data.datasets[1].data[2] = upDsl;
                                                //    myChart.data.datasets[0].data[3] = mobil;
                                                //}


                                                function addDataDownFiber(data) {
                                                    myChart.data.datasets[0].data[0] = data;
                                                }
                                                function addDataUpFiber(data) {
                                                    myChart.data.datasets[1].data[0] = data;
                                                }
                                                function addDataDownKabel(data) {
                                                    myChart.data.datasets[0].data[1] = data;
                                                }
                                                function addDataUpKabel(data) {
                                                    myChart.data.datasets[1].data[1] = data;
                                                }
                                                function addDataDownDsl(data) {
                                                    myChart.data.datasets[0].data[2] = data;
                                                }
                                                function addDataUpDsl(data) {
                                                    myChart.data.datasets[1].data[2] = data;
                                                }
                                                function addDataMobil(data) {
                                                    myChart.data.datasets[0].data[3] = data;
                                                }

                                            </script>
                                        </div>
                                    </div>
                                </div>

                            </div>

                          


                        </div>

                    </div>

                    <!-- Content Row -->
                    <div class="row container-fluid m-0" style="margin-left: 0px; margin-right: 0px;">

                        <div class="col-lg-4">


                            <div class="card shadow">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Vis for hastighed</h6>
                                </div>
                                <div class="card-body">

                                    @*<label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>*@

                                    <div class="m-auto">
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" onclick="tekFilter(0)" name="optradio">Fiber
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" onclick="tekFilter(1)" name="optradio">Kabel
                                            </label>
                                        </div>
                                        <div class="form-check-inline disabled">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" onclick="tekFilter(2)" name="optradio">Dsl
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" onclick="tekFilter(3)" name="optradio">Mobil
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" onclick="tekFilter(4)" name="optradio">Alle
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-group row">
                                            <div class="col-lg-3">
                                                <input class="form-control-plaintext " placeholder="Mbit/s" id="txtMbits">
                                            </div>
                                        </div>
                                        <h4 class="small font-weight-bold">0 Mbit/s <span class="float-right">1000 Mbit/s</span></h4>
                                        <script>
                                            function updateTextInput(val) {
                                                document.getElementById('txtMbits').value = 'Min ' + val + ' Mbit/s';
                                            }

                                            function updateMapBySpeed(downSpeed) {
                                                markers.clearLayers();
                                                var markersToAdd = [];


                                                for (let i = 0; i < filterArray.length; i++) {


                                                    switch (speedSwitchValue) {
                                                        case 0:

                                                            if (filterArray[i].downFiber >= downSpeed) {
                                                                markersToAdd.push(filterArray[i]);
                                                            }
                                                            break;
                                                        case 1:
                                                            if (filterArray[i].downKabel >= downSpeed) {
                                                                markersToAdd.push(filterArray[i]);
                                                            }
                                                            break;
                                                        case 2:
                                                            if (filterArray[i].downDsl >= downSpeed) {
                                                                markersToAdd.push(filterArray[i]);
                                                            }
                                                            break;
                                                        case 3:
                                                            if (filterArray[i].mobil >= downSpeed) {
                                                                markersToAdd.push(filterArray[i]);
                                                            }
                                                            break;
                                                        case 4:
                                                            if (filterArray[i].downFiber >= downSpeed || filterArray[i].downKabel >= downSpeed || filterArray[i].downDsl >= downSpeed || filterArray[i].mobil >= downSpeed) {
                                                                markersToAdd.push(filterArray[i]);
                                                            }

                                                            break;
                                                    }

                                                }


                                                for (let i = 0; i < markersToAdd.length; i++) {
                                                    markers.addLayer(markersToAdd[i]);
                                                }

                                                mymap.addLayer(markers);
                                                document.getElementById('unikCVR').innerHTML
                                                    = (markersToAdd.length);
                                            }

                                        </script>
                                        <input type="range" min="0" max="1000" value="0" class="form-control-range" step="10" id="formControlRange" onmousemove="updateTextInput(this.value);" onchange="updateMapBySpeed(this.value)" , disabled>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div>
                            <body>
                                <style>
                                    * {
                                        box-sizing: border-box;
                                    }

                                    body {
                                        font: 16px Arial;
                                    }

                                    /*the container must be positioned relative:*/
                                    .autocomplete {
                                        position: relative;
                                        display: inline-block;
                                    }

                                    input {
                                        border: 1px solid transparent;
                                        background-color: #f1f1f1;
                                        padding: 10px;
                                        font-size: 16px;
                                    }

                                        input[type=text] {
                                            background-color: #f1f1f1;
                                            width: 100%;
                                        }

                                        input[type=submit] {
                                            background-color: DodgerBlue;
                                            color: #fff;
                                            cursor: pointer;
                                        }

                                    .autocomplete-items {
                                        position: absolute;
                                        border: 1px solid #d4d4d4;
                                        border-bottom: none;
                                        border-top: none;
                                        z-index: 99;
                                        /*position the autocomplete items to be the same width as the container:*/
                                        top: 100%;
                                        left: 0;
                                        right: 0;
                                    }

                                        .autocomplete-items div {
                                            padding: 10px;
                                            cursor: pointer;
                                            background-color: #fff;
                                            border-bottom: 1px solid #d4d4d4;
                                        }

                                            /*when hovering an item:*/
                                            .autocomplete-items div:hover {
                                                background-color: #e9e9e9;
                                            }

                                    /*when navigating through the items using the arrow keys:*/
                                    .autocomplete-active {
                                        background-color: DodgerBlue !important;
                                        color: #ffffff;
                                    }
                                </style>
                                <form autocomplete="off" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                                    <div class="input-group">
                                        <input class="form-control" input id="myInput" type="text" name="branche" placeholder="Søg efter branche" aria-label="Search" aria-describedby="basic-addon2">
                                        <a class="btn btn-primary" onclick="searchFilter(document.getElementById('myInput').value);" , myInput=" ">Søg</a>
                                        <a class="btn btn-primary" onclick="clearFilters()" , myInput=" ">Ryd filter</a>
                                    </div>
                                </form>
                                <script charset="utf8_danish_ci">
                                    function autocomplete(inp, arr) {
                                        /*the autocomplete function takes two arguments,
                                        the text field element and an array of possible autocompleted values:*/
                                        var currentFocus;
                                        /*execute a function when someone writes in the text field:*/
                                        inp.addEventListener("input", function (e) {
                                            var a, b, i, val = this.value;
                                            /*close any already open lists of autocompleted values*/
                                            closeAllLists();
                                            if (!val) { return false; }
                                            currentFocus = -1;
                                            /*create a DIV element that will contain the items (values):*/
                                            a = document.createElement("DIV");
                                            a.setAttribute("id", this.id + "autocomplete-list");
                                            a.setAttribute("class", "autocomplete-items");
                                            /*append the DIV element as a child of the autocomplete container:*/
                                            this.parentNode.appendChild(a);
                                            /*for each item in the array...*/
                                            for (i = 0; i < arr.length; i++) {
                                                /*check if the item starts with the same letters as the text field value:*/
                                                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                                                    /*create a DIV element for each matching element:*/
                                                    b = document.createElement("DIV");
                                                    /*make the matching letters bold:*/
                                                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                                                    b.innerHTML += arr[i].substr(val.length);
                                                    /*insert a input field that will hold the current array item's value:*/
                                                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                                                    /*execute a function when someone clicks on the item value (DIV element):*/
                                                    b.addEventListener("click", function (e) {
                                                        /*insert the value for the autocomplete text field:*/
                                                        inp.value = this.getElementsByTagName("input")[0].value;
                                                        /*close the list of autocompleted values,
                                                        (or any other open lists of autocompleted values:*/
                                                        closeAllLists();
                                                    });
                                                    a.appendChild(b);
                                                }
                                            }
                                        });
                                        /*execute a function presses a key on the keyboard:*/
                                        inp.addEventListener("keydown", function (e) {
                                            var x = document.getElementById(this.id + "autocomplete-list");
                                            if (x) x = x.getElementsByTagName("div");
                                            if (e.keyCode == 40) {
                                                /*If the arrow DOWN key is pressed,
                                                increase the currentFocus variable:*/
                                                currentFocus++;
                                                /*and and make the current item more visible:*/
                                                addActive(x);
                                            } else if (e.keyCode == 38) { //up
                                                /*If the arrow UP key is pressed,
                                                decrease the currentFocus variable:*/
                                                currentFocus--;
                                                /*and and make the current item more visible:*/
                                                addActive(x);
                                            } else if (e.keyCode == 13) {
                                                console.log(inp)

                                                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                                                e.preventDefault();

                                                if (currentFocus > -1) {
                                                    //    /*and simulate a click on the "active" item:*/
                                                    if (x) x[currentFocus].click();
                                                }
                                            }
                                        });
                                        function addActive(x) {
                                            /*a function to classify an item as "active":*/
                                            if (!x) return false;
                                            /*start by removing the "active" class on all items:*/
                                            removeActive(x);
                                            if (currentFocus >= x.length) currentFocus = 0;
                                            if (currentFocus < 0) currentFocus = (x.length - 1);
                                            /*add class "autocomplete-active":*/
                                            x[currentFocus].classList.add("autocomplete-active");
                                        }
                                        function removeActive(x) {
                                            /*a function to remove the "active" class from all autocomplete items:*/
                                            for (var i = 0; i < x.length; i++) {
                                                x[i].classList.remove("autocomplete-active");
                                            }
                                        }
                                        function closeAllLists(elmnt) {
                                            /*close all autocomplete lists in the document,
                                            except the one passed as an argument:*/
                                            var x = document.getElementsByClassName("autocomplete-items");
                                            for (var i = 0; i < x.length; i++) {
                                                if (elmnt != x[i] && elmnt != inp) {
                                                    x[i].parentNode.removeChild(x[i]);
                                                }
                                            }
                                        }
                                        ///*execute a function when someone clicks in the document:*/
                                        document.addEventListener("click", function (e) {
                                            closeAllLists(e.target);
                                            //console.log(document.getElementById('myInput').value)

                                            //if (document.getElementById('myInput').value != '')
                                            //    searchFilter(document.getElementById('myInput').value);
                                        });
                                    }

                                    /*An array containing all the country names in the world:*/
                                    var branche = searchArray;
                                    let unique = [...new Set(branche)]

                                    /*initiate the autocomplete function on the "myInput" element, and pass along the branche array as possible autocomplete values:*/
                                    autocomplete(document.getElementById("myInput"), unique);
                                </script>

                            </body>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            @*<footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2020</span>
                        </div>
                    </div>
                </footer>*@
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="~/Content/vendor/jquery/jquery.min.js"></script>
        <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="~/Content/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="~/Content/vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="~/Content/js/demo/chart-area-demo.js"></script>
        <script src="~/Content/js/demo/chart-pie-demo.js"></script>

    </body>

</html>
